---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Posts from '../../components/Posts.astro';
import {getAllPosts} from '../../data/blog-data';

const data = await getAllPosts();
const allPosts = data.publication.posts.edges;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex">
		<title>AstroNode - Blog</title>
	</head>
	<body>
		<BaseLayout>
			<div class="flex flex-col justify-center items-center p-2">
				<h2 class="text-2xl pt-2 font-semibold">{`Welcome to ${data.publication.title}`}</h2>
				<Posts allPosts={allPosts}/>
				<!--<div class="flex justify-center mt-10 mb-5">
					<button class="bg-purple-500 p-2 rounded-md text-white cursor-pointer">Load More...</button>
				</div>-->
			</div>
		</BaseLayout>
	</body>
</html>
