<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex">
		<title>AstroNode - Home</title>
	</head>
	<body>
		<div class="flex relative flex-col justify-center items-center h-screen">
			<image
				class="w-full h-screen bg-center bg-cover blur-sm"
				alt="Background"
				src='/blog.jpeg'
			/>
			<div class="absolute p-2 flex flex-col justify-center items-center z-10 bg-purple-50 lg:w-2/5 h-1/4 rounded-md">
				<div class="flex pb-5 mb-5 text-5xl text-purple-800">
					<p>AstroNode Blog</p>
				</div>
				<div>
					<a
						href="/blog"
						class="bg-purple-700 text-white hover:bg-purple-900 p-3 rounded-sm text-lg text mr-2"
					>
						TAKE ME TO THE BLOG
					</a>
				</div>
			</div>
	</div>
	</body>
</html>
