---
import Social from './Social.astro';
---

<footer class=" mt-3 flex flex-col items-center justify-center bg-purple-200 p-1">
  <div class="mt-1">
    <p class="text-xl p-2">
      Made with ❤️ and passion using Headless Hashnode and Astro.
    </p>
  </div>
  <div class="mt-3 flex">
    <p class="text-md mt-1 mr-2">Reach out on</p>
    <Social platform="x" displayName="X/Twitter" username="tapasadhikary" />
    <Social platform="github" displayName="GitHub" username="atapas" />
    <Social platform="youtube" displayName="YouTube" username="tapasadhikary" />
  </div>
</footer>